body {
    background: black;
}

#gameUi {
    font-size: 15px;
    color: white;
    text-align: right;
    margin: 100px;

}
button {
    color: black;
    font-size: 12px;
    width: 100px;
    height: 50px;
}

#gameboard {
    position: relative;
    margin: auto;
    height: 500px;
    width: 500px;
    border-bottom: solid red 5px;
    border-right: solid red 5px;
}
.letter {
    position: absolute;
    text-align: center;
    font-weight: bold;

}